# dependencies
node_modules
**/node_modules

# Next.js
.next
out

# Expo / React Native
.expo
.expo-shared
dist
build

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env
.env
.env.local
.env.*.local
apps/web/.env.local
apps/mobile/.env

# system
.DS_Store

# tests / coverage
coverage

# misc
.vercel
